environment: development
server:
    protocol: http
    fqdn: localhost
    hash_key: '---INSERT-YOUR-HASH-KEY---'
    block_key: '---INSERT-YOUR-BLOCK-KEY---'
postgres:
    host: 127.0.0.1
    port: 5432
    database: greatape
    username: postgres
    password: password
