environment: development
server:
    protocol: http
    fqdn: localhost
    hash_key: '---INSERT-YOUR-HASH-KEY---'
    block_key: '---INSERT-YOUR-BLOCK-KEY---'
mysql:
    database: greatape
    username: root
    password: password
