[Unit]
Description=GreatApe
ConditionPathExists=/path/to/app
After=network.target

[Service]
Type=simple
User=greatape
Group=greatape
WorkingDirectory=/path/to/app
ExecStart=/usr/local/go/bin/go run .
Environment="PORT=8080"
Environment="PROTOCOL=https"
Environment="DOMAIN=example.social"

[Install]
WantedBy=multi-user.target